.App {
  text-align: center;
}

.App-header {
  margin: 0 auto;
  background-color:#F5F5F5;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #a9a9a9;
  font: 20px sans-serif;
}
